# -*- coding: utf-8 -*-

import volcengine_ml_platform
from volcengine_ml_platform import constant


AK = "replace_with_your_ak"
SK = "replace_with_your_sk"
REGION_NAME = "replace_with_region_the_region_you_use_the_most"


def init():
    volcengine_ml_platform.init(ak=AK, sk=SK, region=REGION_NAME, env_name=constant.BOE_ENV)